<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AudioPlayer.Properties.Settings.masterConnectionString"
            connectionString="Data Source=PK-KASR1657\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AudioPlayer.Properties.Settings.AudioPlayerConnectionString"
            connectionString="Data Source=DESKTOP-JNE1UH0\SQLEXPRESS;Initial Catalog=AudioPlayer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AudioPlayer.Properties.Settings.masterConnectionString1"
            connectionString="Data Source=DESKTOP-T3LHBVI;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AudioPlayer.Properties.Settings.AudioPlayerConnectionString1"
            connectionString="Data Source=R-A-H\SQLEXPRESS;Initial Catalog=AudioPlayer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AudioPlayer.Properties.Settings.RAHConnectionString"
            connectionString="Data Source=DESKTOP-HHUT6HH\SQLEXPRESS;Initial Catalog=RAH;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>